# .gitignore
catasto_vettoriale_italia/
catasto_italia
Pipfile.lock
requests_cache.sqlite

*.zip
*.ZIP

# Flask files...
/gui_version/requests
/gui_version/shutil
/gui_version/zipfile
/gui_version/os
/gui_version/threading



log_storage.pkl
/gui_version/log_storage.pkl
